.chatbox{  
    width: 100%;
    color: #ffffff;
}  

.chatbox-container{  
    color: #ffffff; 
    font-family: "Ubuntu", sans-serif;
    padding: 3px 4px 2px 25%;
    display: flex;
    align-items: center;
    margin: auto;
}  

.chatbox-container div{  
    align-self: baseline;
} 

.chatbox-message{
    display: grid;
    margin-right: 40px;
}

.chatbox-message span{
    font-weight: 900;
    font-size: 25px;
}

.chatbox-message p{  
    margin-top: 13px;
    font-weight: 400;
    font-size: 16px;
    text-align: justify; 
} 

.chatbox-button{
    display: block;
}

.button-container { 
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 70px;
    height: fit-content;
    transition: all 0.4s;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    display: inline-flex;
    border-radius: 32px;
    font-size: 12px;
    cursor: pointer;
} 

.button-container:hover {
    color: #7159c1;
    background-color: white; 
}