
.header-home{ 
    margin: 0 auto;
    justify-content: center;
    border-radius: 4px; 

    width: 100%;
    padding: 20px;
    text-align: center; 

    color: #fff;
    list-style: none;

    vertical-align: middle;
}

.header-home > div{
    padding: 0 25px;
    display: flex;
    align-items: center;
    line-height: 18px;
}

.header-home div{
    vertical-align: middle; 
}

.header-logo{ 
    margin: auto 0;
    display: flex;
    cursor: pointer;
}

.header-links{ 
    padding: 0 9px;
    font-size: 15px;
}

.header-links > div{ 
    padding: 0 25px;
    display: flex;
    align-items: center;
    line-height: 18px;
}

.header-links a{ 
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    vertical-align: middle;
}

.header-home button {
    width: 100px;
    background: #fff;
    border: 0; 
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
    border: 2px solid white;
    cursor: pointer;
  } 

  .header-home button:hover{
    color: white;
    background: transparent;
  }

  .header-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  .header-home li {
    float: left;
  }
  
  .header-home li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-home li a:hover, .dropdown:hover .dropbtn {
    color: #7159c1;
    background-color: white; 
  } 
  
  .header-home li.dropdown {
    display: inline-block;
  }
  
  .header-home .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .header-home .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.header-home .dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  .header-home .dropdown:hover .dropdown-content {
    display: block;
  }