* {
    box-sizing: border-box;
  }
  
.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 6px 2px;
    float: left;
    width: 20%;
}

.container span {
    font-size: 20px;
    margin-right: 25px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    } 
}
  