.form-login{
    margin-left: 60px;
    margin-bottom: 40px;
} 

.form-login input{
    width: 300px;
}

.text-title{
    margin-bottom: 25px;
}

.email-login label{
    margin-right: 20px; 
}

.senha-login label{
    margin-left: 10px;
    margin-right: 20px;
}

.space{
    margin-left: 10px;
}